:root {
    --cor__primaria: #61a647;
    --cor__primaria2: #fff;
    --cor__secundaria: #ffae52;
    --cor__secundaria2: #fffaf2;
    --cor__texto: #fff;
}
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    transition: all 0.3s;
}
body {
    margin: 0;
}
a {
    color: inherit;
}
header {
    color: #fff;
    /* background: #fff; */
    background-image: url(../img/48929332493_11e87bfa39_4k.jpg);
    background-color: #c2c2c2;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-attachment: fixed;
    /* background-position: left; */
}

/* --> MENU */
header nav {
    background: var(--cor__primaria);
    position: fixed;
    width: 100%;
    display: flex;
    height: 66px;
    align-items: center;
    box-shadow: 3px 3px 10px #333;
    z-index: 2;
}
header nav .nav__logo {
    width: 20%;
    display: flex;
    justify-content: center;
}
header nav .nav__logo img {
    width: 50px;
    height: 50px;
}
header nav .nav__menu {
    display: flex;
    width: 80%;
    margin-right: 55px;
    justify-content: flex-end;
}
header nav .nav__menu a {
    margin-right: 66px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    /* color: #000; */
}
header nav .nav__menu a:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background: var(--cor__secundaria);
    color: #000;
    border-radius: 8px;
}
/* <-- MENU */

/* --> BANNER */
header .container__heading {
    /* opacity: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
    z-index: -10;
    /* margin-top: 5px; */
    color: #333 !important;
}
header .heading__text {
    font-size: 3.8rem;
    opacity: 1;
    width: 50%;
    text-align: center;
    color: var(--cor__texto);
    text-shadow: 3px 1px #333;
}

header .heading__subtext {
    text-align: center;
    font-size: 1.8rem;
    width: 80%;
    opacity: 1;
    color: var(--cor__texto);
    text-shadow: 2px 2px #333;
}

header .container-rolldown .mouse {
    display: flex;
    justify-content: center;
    /* margin: 10%; */
    margin-top: 111px;
    margin-bottom: 0;
    padding-bottom: 0;

    width: 40px;
    height: 50px;
    border: 5px solid var(--cor__secundaria);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
header .container-rolldown .mouse-scroll {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 5px solid var(--cor__secundaria);
    animation: move-mouse-scroll 1s infinite;
}

@keyframes move-mouse-scroll {
    from {
    }
    to {
        margin-top: 27px;
    }
}
header .container__heading h4 {
    font-size: 1.2rem;
}
/* <-- BANNER */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 600px; */
    padding: 88px 0;
    /* box-shadow: 3px 3px 5px #333; */
}

.section__container {
    display: flex;
}
.section__divider {
    width: 3%;
    height: 3px;
    margin-top: -11px;
    border: none;
    background: var(--cor__secundaria);
}
.section__divider--green {
    width: 3%;
    height: 3px;
    margin-top: -11px;
    border: none;
    background: var(--cor__primaria);
}
.section__heading {
    font-size: 2.5rem;
}
.section__subheading {
    color: #666;
    text-align: center;
}
.container__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 22px;
    /* width: 15%; */
    height: fit-content;
    text-align: center;
}

/* SESSÃO SOBRE --> */
section#sobre {
    background: var(--cor__secundaria);
}
section#sobre .section__container {
    justify-content: space-evenly;
    width: 100%;
}
section#sobre .item__image {
    width: 230px;
    height: 230px;
    border-radius: 100%;
}
section#sobre .container__item {
    width: 15%;
}
section#sobre .container__item span {
    color: #333;
}
/* <-- SESSÃO SOBRE */

/* SESSÃO IMAGENS --> */
section#imagens {
    background: var(--cor__primaria);
}
section#imagens .section__heading {
    color: #fff;
}
section#imagens .section__subheading {
    color: #ddd;
}
section#imagens .image__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}
section#imagens .image__container img {
    width: 180px;
    height: 180px;
    margin: 15px;
    border-radius: 5%;
    box-shadow: 3px 3px 10px #777;
}
/* <-- SESSÃO IMAGENS */

/* SESSÃO CONTATO --> */
section#contato {
    /* color: #fff; */
    background: #fffaf2;
}
section#contato i {
    font-size: 3rem;
    /* color: var(--cor__primaria); */
}
section#contato .fa-whatsapp {
    /* color: var(--cor__primaria); */
}
/* <-- SESSÃO CONTATO */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    background: #333;
    color: #fff;
}
